@theme {
  /* primary bluegray */
  --color-primary-50: #f3f5fa;
  --color-primary-100: #eaecf5;
  --color-primary-200: #d9deec;
  --color-primary-300: #c1c7e0;
  --color-primary-400: #a7add2;
  --color-primary-500: #9194c3;
  --color-primary-600: #7e7db4;
  --color-primary-700: #69679b;
  --color-primary-800: #56557e;
  --color-primary-900: #494966;
  --color-primary-950: #2b2a3c;

  /* secondary red */
  --color-secondary-50: #fff1f3;
  --color-secondary-100: #ffe4e9;
  --color-secondary-200: #fecdd5;
  --color-secondary-300: #fda4b3;
  --color-secondary-400: #fb7189;
  --color-secondary-500: #f43f5e;
  --color-secondary-600: #e11d3f;
  --color-secondary-700: #be122f;
  --color-secondary-800: #9f122a;
  --color-secondary-900: #881327;
  --color-secondary-950: #4c0511;
}
