/* —————————————————————————————————————————————————————————————————————————————
 
  ———————————————————————————————————————————————————————————————————————————— */

/* —————————————————————————————————————————————————————————————————————————————
  Imports
  ———————————————————————————————————————————————————————————————————————————— */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* —————————————————————————————————————————————————————————————————————————————
  Fonts
  https://fonts.google.com/selection/embed

  FIXME: Trier les fonts qui ne sont pas utilisées dans l'application.
  ———————————————————————————————————————————————————————————————————————————— */
/* */
.cookie-regular {
  font-family: 'Cookie', serif;
  font-weight: 400;
  font-style: normal;
}

/* */
.dm-serif-text-regular {
  font-family: 'DM Serif Text', serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: 'DM Serif Text', serif;
  font-weight: 400;
  font-style: italic;
}

/* Roboto */
.roboto-thin {
  font-family: 'Roboto', serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: 'Roboto', serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: 'Roboto', serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: 'Roboto', serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: 'Roboto', serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: 'Roboto', serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: 'Roboto', serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: 'Roboto', serif;
  font-weight: 900;
  font-style: italic;
}

/* Roboto-mono
.roboto-mono-<uniquifier> {
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 700
*/
.roboto-mono-thin {
  font-family: 'Roboto Mono', serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.roboto-mono-extralight {
  font-family: 'Roboto Mono', serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.roboto-mono-light {
  font-family: 'Roboto Mono', serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.roboto-mono-regular {
  font-family: 'Roboto Mono', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.roboto-mono-medium {
  font-family: 'Roboto Mono', serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.roboto-mono-semibold {
  font-family: 'Roboto Mono', serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.roboto-mono-bold {
  font-family: 'Roboto Mono', serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* ———————————————————————————————————————————————————————————————————————————
  * Tailwind CSS utilities
  * prefix "cb-" ([c]oloring[b]ook) for custom classes
  * ——————————————————————————————————————————————————————————————————————————*/
@layer base {
  .heading-1 {
    @apply roboto-thin text-4xl font-bold mb-2 dark:text-white;
  }
  .heading-2 {
    @apply roboto-thin text-3xl font-bold mb-2 dark:text-white;
  }
  .heading-3 {
    @apply roboto-thin text-2xl font-bold mb-2 dark:text-white;
  }
  .heading-4 {
    @apply roboto-thin text-xl font-bold mb-2 dark:text-white;
  }
}

.btn-primary {
  @apply bg-indigo-500 text-white font-sans px-4 py-2 rounded hover:bg-indigo-500;
}

.cb-grid {
  @apply grid grid-cols-1 md:grid-cols-12 gap-4;
}

/* —————————————————————————————————————————————————————————————————————————————
  Base
  ———————————————————————————————————————————————————————————————————————————— */
body {
  min-height: 100vh;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@layer base {
  body {
    background: radial-gradient(
      circle at top left,
      theme('colors.fuchsia.900') 3%,
      theme('colors.indigo.950') 50%
    );
    background: radial-gradient(
      circle at top left,
      theme('colors.fuchsia.950') 3%,
      theme('colors.slate.900') 50%
    );
  }
}

#root {
  min-height: 100vh;
  min-width: 100vw;
}

/* —————————————————————————————————————————————————————————————————————————————
  components
  ———————————————————————————————————————————————————————————————————————————— */

/* —————————————————————————————————————————————————————————————————————————————
  Transitions
  ———————————————————————————————————————————————————————————————————————————— */
::view-transition-old(root) {
  animation: none;
}

::view-transition-new(root) {
  animation: none;
}

::view-transition-old(*),
::view-transition-new(*) {
  animation-duration: 0.5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

::view-transition-old(root) {
  animation: fade-out 0.5s;
}

::view-transition-new(root) {
  animation: fade-in 0.5s;
}

/* —————————————————————————————————————————————————————————————————————————————
  Home
  ———————————————————————————————————————————————————————————————————————————— */
.scene {
  position: relative;
  width: 300px;
  height: 300px;
  background: linear-gradient(
    135deg,
    rgba(255, 182, 193, 0.7),
    rgba(173, 216, 230, 0.7)
  );
  box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.spot {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  filter: blur(100px);
  z-index: 1;
}

.spot-1 {
  background: rgba(255, 182, 193, 0.8); /* Rose pâle */
  top: -50px;
  left: -50px;
}

.spot-2 {
  background: rgba(173, 216, 230, 0.8); /* Bleu pâle */
  bottom: -50px;
  right: -50px;
}

.frame {
  position: absolute;
  width: 100px;
  height: 150px;
  background: #ffffff;
  border: 5px solid #ddd;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
