/* —————————————————————————————————————————————————————————————————————————————
  Fonts
  https://fonts.google.com/selection/embed
  ———————————————————————————————————————————————————————————————————————————— */
/* */
.cookie-regular {
  font-family: 'Cookie', serif;
  font-weight: 400;
  font-style: normal;
}

/* */
.dm-serif-text-regular {
  font-family: 'DM Serif Text', serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: 'DM Serif Text', serif;
  font-weight: 400;
  font-style: italic;
}

/* Roboto */
.roboto-thin {
  font-family: 'Roboto', serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: 'Roboto', serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: 'Roboto', serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: 'Roboto', serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: 'Roboto', serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: 'Roboto', serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: 'Roboto', serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: 'Roboto', serif;
  font-weight: 900;
  font-style: italic;
}

/* Roboto-mono
  .roboto-mono-<uniquifier> {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  <uniquifier>: Use a unique and descriptive class name
  <weight>: Use a value from 100 to 700
  */
.roboto-mono-thin {
  font-family: 'Roboto Mono', serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.roboto-mono-extralight {
  font-family: 'Roboto Mono', serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.roboto-mono-light {
  font-family: 'Roboto Mono', serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.roboto-mono-regular {
  font-family: 'Roboto Mono', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.roboto-mono-medium {
  font-family: 'Roboto Mono', serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.roboto-mono-semibold {
  font-family: 'Roboto Mono', serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.roboto-mono-bold {
  font-family: 'Roboto Mono', serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
