/* ———————————————————————————————————————————————————————————————————————————
  * Tailwind CSS utilities
  * ——————————————————————————————————————————————————————————————————————————*/
@import 'tailwindcss';
@theme {
  --container-4xs: 12rem;
}

/* —————————————————————————————————————————————————————————————————————————————
  radix-ui configuration
  ———————————————————————————————————————————————————————————————————————————— */
.TooltipContent {
  transform-origin: var(--radix-tooltip-content-transform-origin);
  animation: scaleIn 0.5s ease-out;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* —————————————————————————————————————————————————————————————————————————————
  Base
  ———————————————————————————————————————————————————————————————————————————— */
body {
  min-height: 100vh;
  margin: 0;
  /* height: 100vh; */

  /* Désactive le zoom et les gestes multi-touch non désirés */
  /* touch-action: none; */

  /* Les scrollbars sont masquées sur le body car des animations sont présentes entre les pages */
  overflow: hidden;
}

#root,
canvas {
  touch-action: none; /* Désactive les gestes natifs comme le pinch */
}

div[data-is-root-theme].dark {
  background: radial-gradient(
    circle at top left,
    var(--color-secondary-800) 2%,
    var(--color-primary-950) 50%
  );
}
div[data-is-root-theme].light {
  background: radial-gradient(
    circle at top left,
    var(--color-secondary-200) 2%,
    var(--color-primary-50) 50%
  );
}

#root {
  min-height: 100vh;
  min-width: 100vw;
}

:root {
  font-size: 1rem; /* Redéfinit 1rem = 12px */
}
body {
  font-family: 'Inter', serif;
}

/* —————————————————————————————————————————————————————————————————————————————
  Scrollbar
  ———————————————————————————————————————————————————————————————————————————— */
.custom-scrollbar {
  /* Assure que la scrollbar est visible et personnalisable */
  scrollbar-width: thin; /* Pour Firefox */
}

.custom-scrollbar {
  scrollbar-color: var(--color-primary-500) var(--color-primary-200); /* Pouce et piste pour Firefox */
}

.dark .custom-scrollbar {
  scrollbar-color: var(--color-primary-500) var(--color-primary-800); /* Pouce et piste pour Firefox */
}

/* Styles spécifiques WebKit (Chrome, Safari, Edge) */
/* .custom-scrollbar::-webkit-scrollbar, */
::-webkit-scrollbar {
  width: 8px; /* Largeur de la scrollbar */
  height: 8px; /* Hauteur pour les scrollbars horizontales si présentes */
}

/* .custom-scrollbar::-webkit-scrollbar-track, */
::-webkit-scrollbar-track {
  background: var(--color-primary-200);
  border-radius: 4px;
}

/* .dark .custom-scrollbar::-webkit-scrollbar-track, */
.dark ::-webkit-scrollbar-track {
  background: var(--color-primary-800);
}

/* .custom-scrollbar::-webkit-scrollbar-thumb, */
::-webkit-scrollbar-thumb {
  background: var(--color-primary-500);
  border-radius: 4px;
  transition: background 0.3s;
}

/* .dark .custom-scrollbar::-webkit-scrollbar-thumb, */
.dark ::-webkit-scrollbar-thumb {
  background: var(--color-primary-500);
}

/* .custom-scrollbar::-webkit-scrollbar-thumb:hover, */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-200);
}

/* .dark .custom-scrollbar::-webkit-scrollbar-thumb:hover */
.dark ::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-800);
}
