@import 'tailwindcss';
@config "./../../../tailwind.config.js";
@import './themes/theme.bluegray.css';
@import './main.base.css';

.btn {
  @apply inline-flex justify-center rounded-md border border-transparent transition-all
  bg-gray-500 px-4 py-2 text-sm font-medium text-white
  hover:bg-gray-600 
  focus:outline-none focus-visible:ring-2 focus-visible:ring-gray-500 focus-visible:ring-offset-2;
}

.btn-primary,
.btn {
  @apply bg-primary-500  text-gray-800
  hover:bg-primary-600 
  focus-visible:ring-primary-500;
}

.btn-secondary {
  @apply bg-secondary-500  text-white
   hover:bg-secondary-600 
   focus-visible:ring-secondary-500;
}

.btn-transparent {
  background: none;
}

.btn-transparent {
  @apply text-black;
}


